.App {
  text-align: center;
}

@font-face {
  font-family: 'GreatVibes';
  src: local('GreatVibes-Regular'), url('fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
} 

h1 {
  font-family: 'GreatVibes';
  padding:0;
  margin:0;
}

.main-page {
  padding-top: 7vh;
}

.flex {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .flex {
    flex-direction: column;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scroll-menu {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  margin: 10px;
  border: grey thing solid;
  margin-bottom: 10%;
}

.profile-img {
  max-width: 45%;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .profile-img {
    max-width: 80%;
  }
}

@media (min-width: 1000px) {
  .profile-img {
    margin-left: 10vw;
  }
}

p {
  text-align: justify;
  max-width: 100%;
}

.footer {
  bottom: 0;
  top: auto;
  margin-top: 20px;
}

